/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background-color: black;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* CSS Fonts*/

@font-face {
    font-family: 'SpaceGrotesk-Bold';
    src: url('/src/assets/fonts/static/SpaceGrotesk-Bold.ttf');
}
@font-face {
    font-family: 'SpaceGrotesk-Meduim';
    src: url('/src/assets/fonts/static/SpaceGrotesk-Medium.ttf');
}

p{
    font-family: 'SpaceGrotesk-Meduim';
    color: white;
}

h1,h2,h3,h4{
    font-family: 'SpaceGrotesk-Bold';
    color: white;

}

.button-49 {
    background: #6eb3ce;
    border: 1px solid #6eb3ce;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'SpaceGrotesk-Meduim';
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-49:hover,
  .button-49:active {
    background-color: initial;
    background-position: 0 0;
    color: white;
  }
  
  .button-49:active {
    opacity: .5;
  }

  




/* Navbar Styles */
.navbar {
    position: fixed;
    background-color: rgb(26, 25, 25);
    transition: width 600ms ease;
    overflow: scroll;
    z-index: 1;
    font-family: 'SpaceGrotesk-Meduim'
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}



.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: #b6b6b6;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 800ms;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: #424250;
    color: #6eb3ce;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    fill: #6eb3ce;
}
/* Small screens */
@media only screen and (max-width: 768px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 768px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }





/* Hero Section Styles */
.hero {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: black;
    margin-top: 49px;
    margin-left: 10%;
    margin-right: 10%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    text-align: left;
}

.hero-content h1 {
    font-size: 72px; /* Adjust font size for larger screens */
    font-weight: 900;
    margin-bottom: 30px;

}

.hero-content p {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    width: 445px;
    height: 84px;
}

.badge-container{
    display: flex;
    
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 2%;
}
.badge-items{
    margin-right: 20px;
}
.badges svg{
    fill: white;
    height: auto;
    width: 3rem;
}

.badges svg:hover{
    fill: #6eb3ce;
}
.badge-items-badger svg {
    fill: white;
    width: 3rem;
    height: auto;
    transition: fill 0.5s; /* Smooth transition for the fill property */
}

.badge-items-badger svg:hover {
    animation: rotate 2s linear infinite, gradientChange 2s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Gradient animation */
@keyframes gradientChange {
    0% {
        fill: #ff0000; /* Start color */
    }
    50% {
        fill: #00ff00; /* Middle color */
    }
    100% {
        fill: #ff0000; /* End color */
    }
}


.underline {
    border-bottom: 2px solid #6eb3ce;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.side-image{
    width: 40%;
    height: auto;
    

    animation: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating{
    0%{
        transform: translate(0,0px);

    }
    50%{
        transform: translate(0,10px);
    }
    100%{
        transform: translate(-1,-0px);
    }
}

@media screen and (max-width: 830px){
    .hero{
        flex-direction: column-reverse;
    }

    .hero-content{
        align-items: center;
        
    }
    .hero-content h1{
        text-align: center;
        margin-top: 10%;
        font-size: 13vw;
        width: auto;
    }

    .hero-content p{
        text-align: center;
        width: auto;
        margin-bottom: 20%;
        font-size: 5vw;
        
    }
    .side-image{
        width: 80vw;
        height: auto;
    }
    .underline {
        padding-bottom: 5px;
        margin-bottom: 20px;
    }


}










/* Other Section Styles */

/* Skills Container Styles */
.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    background-color: black;
    margin-top: 100px;
    margin-bottom: 100px;
}

.skills-container h2 {
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: white;
    
}

.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}

.skills-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}

.skills-item {
    flex: 0 0 calc(30% - 20px);
    margin: 10px;
    margin-bottom: 20px;
    
}

.skills-item svg {
    width: 140px;
    height: 100%;
    fill: white;
}

.skills-item p {
    color: white;
}

.skills-item:hover svg {
    fill: rgb(78, 225, 160);
    animation: waterFill 2s ease infinite;
    transition: transform 0.3s ease;
}

@keyframes waterFill {
    0% {
        fill: #4e94e5;
    }
    50% {
        fill: rgb(78, 225, 160);
    }
    100% {
        fill: #4e94e5;
    }
}


/* Contact Me Container Styles */
.b-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.form-header{
    margin-top: 0;
    margin-bottom: 3%;
    font-weight: 500;
    color: #6eb3ce;
}
.decor{
    position: relative;
    width: 40%;
    border-radius: 30px;
    background-color: rgb(26, 25, 25,0.7);
}

.form-inner {
    padding: 40px;
    }
.form-inner input, .form-inner textarea {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background: #d0dfe8;
}
.form-inner textarea {
    resize: none;
    }
.form-button{
    font-family: 'SpaceGrotesk-Meduim';
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    border-bottom: 4px solid #63a1b9;
    background: #6eb3ce; 
    font-size: 16px;
    font-weight: 400;
    color: black;
}
.form-button:hover{
    background-color: #4b7c90;
}


input, textarea { 
    outline: none;
    font-family: 'SpaceGrotesk-Meduim';
    }
.submission-message{
    color: rgb(29, 28, 28);
    font-family: 'SpaceGrotesk-Meduim';
}
@media (max-width: 768px){
    .decor{
        width: auto;
    }
}
/* Project Section Styles */
.project-container {
    margin-top: 76px;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
}

.project-title {
    color: white;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    text-align: center;
    
}

.projects {
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 100%;
}

.container-logic {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 18px 24px;
    max-width: 345px;
}

.project-image {
    margin-bottom: 26px;
}

.project-titles {
    font-size: 25px;
    font-weight: 700;
    border-bottom: 2px solid rgba(122, 193, 221, 0.7);;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.project-description {
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
}

.project-skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.project-skill {
    font-size: 25px;
    font-weight: 400;
    border-radius: 100px;
    background: #6eb3ce;
    padding: 2px 22px;
}

.project-links {
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: space-around;
}

.project-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 600;
    border-radius: 100px;
    transition: background-color 0.3s;
    padding: 1px 22px;
}

.project-link:hover {
    background-color: #6eb3ce;

}
/* about me*/

.about-container {
    position: relative;
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 15px;
    padding: 73px;
    margin-top: 129px;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .about-title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    color: white;
  }
  
  .about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .about-image {
    border: 2px solid #6eb3ce;
    border-radius: 50%;
    width: 35%;
    margin-right: 10%;
    box-shadow: 0 0 40px rgba(110, 179, 206, 0.7);
  }
  
  .aboutItems {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  .aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(
      90deg,
      rgba(165, 215, 232, 0.42) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
  }
  .aboutItem svg{
    fill: white;
    width: 5%;
    height: auto;
    margin-right: 3%;
  }
  .aboutItem:hover {
    background-size: 100% 100%;
  }
  .aboutItem h3 {
    color: #6eb3ce;
    font-size: 25px;
    font-weight: 600;

  }
  
  .aboutItem p {
    font-size: 25px;
  }


  
  @media screen and (max-width: 830px) {
    .about-container {
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
    }
  
    .about-content {
      flex-direction: column;
    }
  
    .about-image {
      display: none;
    }
  
    .aboutItems {
      margin-top: 29px;
    }
    .aboutItem svg{
        display: none;
    }
    .aboutItem {
      padding-left: 0;
      padding-right: 0;
    }
  }


/* end about me*/

/* exp*/

.experience-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 10%;
    
}

.row-exp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:20px

}

.title-exp{
    color: white;
    padding: 0px 0px 20px 30px;
}

.contents-exp{
    padding: 0px 30px;
    border-left: 2px solid white;
    color: white;

}

.box-exp{
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    background-color: #151515;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}
.box-exp:hover{
    box-shadow: 0px 3px 12px 0px #6eb3ce;
    border: 1px solid transparent;
}

.box-exp:before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 24px);
    top: 1;
    background-color: #6eb3ce;
    border: 1px solid #151515;
}

.box-exp h4{
    position: relative;
    color: white;

}
.box-exp h3{
    font-size: 19px;
    padding: 10px 0px 6px;
    color: white;

}
.box-exp p{
    line-height: 1.2;
    color: white;
    font-size: 17px;
}


@media(max-width: 768px){
    .row-exp{
        grid-template-columns: 1fr;

    }
    .col-exp:nth-child(2){
        margin-top: 30px;
    }
}
/* end exp*/
